@import '~@nebular/theme/styles/global/breakpoints';

button {
  margin: 3px;
}

pre {
  overflow: hidden;
  font-size: 0.75rem;
}

nb-card {
  margin: 0;
}

nb-accordion {
  margin: 0;
  padding: 0;
}

nb-accordion-item {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
}
