<nb-card>
    <nb-card-body>
        <button nbButton hero shape="round" status="success" *ngIf="(wsStatus$|async).connected ; else disconnected">Binder WS Active'</button>
        <ng-template #disconnected><button nbButton shape="round" status="danger" (click)=afbService.Connect() >Binding WS Fail</button></ng-template>
        <button nbButton shape="round" id="monitoring">Debug/Monitoring</button>
    </nb-card-body>
</nb-card>
<div class="row" *ngIf="(wsStatus$|async)?.connected">
    <div class="col-5">
        <nb-card status="primary">
            <nb-card-header>APIS & VERBS</nb-card-header>
        <nb-accordion multi *ngFor="let api of (verbs$ | async)">
            <nb-accordion-item>
                <nb-accordion-item-header>
                    {{ api.title | uppercase }}
                </nb-accordion-item-header>
            <nb-accordion-item-body>
                <nb-accordion multi >
                    <nb-accordion-item *ngFor="let verb of api.verbs">
                        <nb-accordion-item-header class="text-primary">
                            {{ verb.verb }}
                        </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <p *ngIf="verb.description">Description: {{ verb.description }}</p>
                        <p *ngIf="verb.query">Suggested query: {{ verb.query }}</p>
                        <textarea nbInput fullWidth [(ngModel)]="query"></textarea>
                        <button nbButton shape="round" ghost status="primary" size="small" class="float-right" (click)="query=''">Reset</button>
                        <button nbButton hero shape="round" status="primary" size="small" class="float-right" (click)="callBinder(api.title, verb.verb, query)">Test</button>
                    </nb-accordion-item-body>
                </nb-accordion-item>
                </nb-accordion>
            <nb-accordion >
                <nb-accordion-item class="bg-light">
                    <nb-accordion-item-header>
                        Information
                    </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <p *ngIf="api.title">Title: {{ api.title }}</p>
                    <p *ngIf="api.version">Version: {{ api.version }}</p>
                    <p *ngIf="api.description">Description: {{ api.description }}</p>
                </nb-accordion-item-body>
            </nb-accordion-item>
            </nb-accordion>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
    </nb-card>
        <!-- <pre>{{ verbs$ | async | json }}</pre>  -->
       
    </div>
    <div class="col-7">
        <nb-card [size]="'tiny'" accent="primary">
            <nb-card-header>QUESTIONS<button nbButton shape="round" size="tiny" outline status="primary" class="float-right" (click)="questions=[]"><nb-icon icon="trash"></nb-icon></button></nb-card-header>
            <nb-card-body>
                        <pre *ngFor="let question of questions">{{ question }}</pre>
            </nb-card-body>
        </nb-card>
        <nb-card [size]="'tiny'" accent="primary">
            <nb-card-header>RESPONSES<button nbButton shape="round" size="tiny" outline status="primary" class="float-right" (click)="responses=[]"><nb-icon icon="trash"></nb-icon></button></nb-card-header>
            <nb-card-body>
                <pre *ngFor="let response of responses">OK: {{ response | json }}</pre>     
            </nb-card-body>
        </nb-card>
        <nb-card [size]="'tiny'" accent="primary">
            <nb-card-header>EVENTS<button nbButton shape="round" size="tiny" outline status="primary" class="float-right"><nb-icon icon="trash"></nb-icon></button></nb-card-header>
            <nb-card-body id="outevt">
                        <pre>OK:</pre>
            </nb-card-body>
        </nb-card>
    </div>
</div>
