<nb-card>
    <nb-card-body>
        <button nbButton shape="round" status="success" *ngIf="(wsStatus$|async).connected ; else disconnected">Binder WS Active'</button>
        <ng-template #disconnected><button nbButton shape="round" status="danger" (click)=afbService.Connect() >Binding WS Fail</button></ng-template>
        <button nbButton shape="round" id="monitoring">Debug/Monitoring</button>
    </nb-card-body>
</nb-card>
<div class="row">
    <div class="col-4">
         <nb-accordion multi>
            <nb-accordion-item *ngFor="let verb of verbs">
                <nb-accordion-item-header>
                    {{ verb.action }}
                </nb-accordion-item-header>
                <nb-accordion-item-body *ngIf="(wsStatus$|async)?.connected">
                    <button nbButton shape="round" (click)="callBinder(verb.api,verb.verb,verb.query)">{{ verb.action }}</button>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
    <div class="col-8" *ngIf="(wsStatus$|async)?.connected">
        <nb-card>
            <nb-card-header>Question</nb-card-header>
            <nb-card-body id="question"></nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>Response</nb-card-header>
            <nb-card-body id="output"></nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>Events</nb-card-header>
            <nb-card-body id="outevt"></nb-card-body>
        </nb-card>
    </div>
</div>
