<div *ngIf="(wsStatus$|async) as wsstat">
    <div class="container-fluid" style="padding: 0px;">
        <div class="row m-0 p-0" style="">
            <div class="col-auto colDisplay sidebar" [ngStyle]="{'width.px': sidebarWidth}">
                <div *ngIf="wsstat?.connected === true">
                    <div>{{ initEvents$ | async }}</div>
                </div>
                <div class="scrollheight" *ngIf="(info$ | async) as infoVerb">
                    <nb-card class="advancedToggle" *ngIf="checkInfo(infoVerb); else disabled">
                        <nb-toggle status="primary" class="ml-auto" [(checked)]="checked">Advanced</nb-toggle>
                    </nb-card>
                    <ng-template #disabled>
                        <nb-card>
                            <nb-toggle class="advancedToggle" status="primary" disabled class="" [(checked)]="checked">
                                Advanced</nb-toggle>
                        </nb-card>
                    </ng-template>
                    <div *ngIf="checked || !checkInfo(infoVerb); else info">
                        <nb-accordion multi class="mx-0 p-0" *ngFor="let apiMonitor of (verbs$ | async); let i=index">
                            <nb-accordion-item class="mr-0 p-0 bg-transparent" expanded=true>
                                <nb-accordion-item-header class="mr-0 p-0">
                                    <div class="infoDisplay">
                                        <a nbButton size="medium" ghost class="verbName">{{ apiMonitor.api | uppercase
                                            }}</a>
                                        <span class="caption px-2">{{ apiMonitor.description }}</span>
                                    </div>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body>
                                    <nb-accordion multi class="mr-0 p-0">
                                        <nb-accordion-item class="m-0 p-0"
                                            *ngFor="let verb of apiMonitor.verbs; let k=index" j="0"
                                            [ng-init]="setQuery(i,j,k,'advanced')">
                                            <nb-accordion-item-header class="mr-0 p-0">
                                                <nb-card class="verbDisplay">
                                                    <div class="infoDisplay">
                                                        <a nbButton status="primary" size="tiny"
                                                            class="verbName">{{verb.verb}}</a>
                                                    </div>
                                                </nb-card>
                                            </nb-accordion-item-header>
                                            <nb-accordion-item-body>
                                                <div class="queryDisplay">
                                                    <label>Query :</label>
                                                    <textarea nbInput fullWidth class="font-weight-light"
                                                        [(ngModel)]="query[i][j][k]"
                                                        placeholder='use {} or [] or "" or number'></textarea>
                                                    <button nbButton shape="round" status="primary" size="small"
                                                        class="float-right"
                                                        (click)="callBinder(apiMonitor.api, verb.verb, query[i][j][k], wsstat?.connected)">Send</button>
                                                </div>
                                            </nb-accordion-item-body>
                                        </nb-accordion-item>
                                    </nb-accordion>
                                </nb-accordion-item-body>
                            </nb-accordion-item>
                        </nb-accordion>
                    </div>
                    <ng-template #info>
                        <nb-accordion multi class="mx-0 p-0" *ngFor="let api of infoVerb; let i=index">
                            <nb-accordion-item class="mr-0 p-0 bg-transparent"
                                *ngIf="api && api.info && api.info.metadata" expanded=true>
                                <nb-accordion-item-header class="mr-0 p-0">
                                    <div class="infoDisplay">
                                        <a nbButton size="medium" ghost class="verbName">{{ api.info.metadata.uid |
                                            uppercase
                                            }}</a>
                                        <span class="caption px-2">{{ api.info.metadata.info}}</span>
                                    </div>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body class="m-0 p-0">
                                    <div class="statusDisplay" *ngIf="api.info.metadata.status">
                                        <div class="d-inline-block ml-3 text-left mt-0 pt-0"
                                            *ngFor="let statusApiItem of api.info.metadata.status | keyvalue">
                                            <a nbButton inactive size="tiny" class="verbName">{{statusApiItem.key}}</a>
                                            <a nbButton ghost size="tiny" class="caption px-2">{{
                                                statusApiItem.value}}</a>
                                        </div>
                                    </div>
                                    <nb-accordion multi class="mr-0 p-0">
                                        <nb-accordion-item class="mr-0 p-0"
                                            *ngFor="let group of api.info.groups; let j=index" expanded=true #group>
                                            <nb-accordion-item-header class="mr-0 p-0">
                                                <div class="infoDisplay">
                                                    <a nbButton ghost status="primary" class="verbName">{{ group.uid |
                                                        uppercase
                                                        }}</a>
                                                    <span class="caption px-2">{{ group.info }}</span>
                                                </div>
                                            </nb-accordion-item-header>
                                            <nb-accordion-item-body class="m-0 p-0">
                                                <div class="d-inline statusDisplay" *ngIf="group.status">
                                                    <div class="d-inline-block ml-3 text-left mt-0 pt-0"
                                                        *ngFor="let statusItem of group.status | keyvalue">
                                                        <a nbButton inactive size="tiny"
                                                            class="verbName">{{statusItem.key}}</a>
                                                        <a nbButton ghost size="tiny" class="caption px-2">{{
                                                            statusItem.value}}</a>
                                                    </div>
                                                </div>


                                                <nb-accordion class="mr-0 p-0">
                                                    <nb-accordion-item class="m-0 p-0"
                                                        *ngFor="let verb of group.verbs; let k=index"
                                                        [ng-init]="setQuery(i,j,k,'info')">
                                                        <nb-accordion-item-header class="mr-0 p-0">
                                                            <nb-card class="verbDisplay">
                                                                <div class="infoDisplay">
                                                                    <a nbButton status="primary" size="tiny"
                                                                        class="verbName">{{verb.uid}}</a>
                                                                    <span class="caption px-2"
                                                                        *ngIf="verb.info">{{verb.info}}</span>
                                                                </div>
                                                            </nb-card>
                                                        </nb-accordion-item-header>
                                                        <nb-accordion-item-body class="m-0 p-0">
                                                            <div class="queryDisplay">
                                                                <div class="actionDisplay">
                                                                    <div *ngIf="verb.usage">
                                                                        <button size="tiny" status="primary"
                                                                            *ngFor="let action of verb.usage.action"
                                                                            outline nbButton size="tiny"
                                                                            (click)="query[i][j][k]=getAction(action); expanded=true">{{
                                                                            action }}</button>
                                                                    </div>
                                                                    <button nbButton outline size="tiny"
                                                                        *ngIf="verb.sample !== undefined && verb.sample.length > 0"
                                                                        status="info"
                                                                        (click)="show = !show;">Samples</button>
                                                                </div>
                                                                <nb-card *ngIf="!show">
                                                                    <button nbButton size="tiny"
                                                                        *ngFor="let sample of verb.sample"
                                                                        class="d-inline-block font-weight-normal text-lowercase text-left text-truncate"
                                                                        (click)="query[i][j][k]=getExample(sample)">{{
                                                                        sample |
                                                                        json }}</button>
                                                                </nb-card>
                                                                <label>Query :</label>
                                                                <textarea nbInput fullWidth class="font-weight-light"
                                                                    [(ngModel)]="query[i][j][k]"
                                                                    [placeholder]="verb.usage ? getUsage(action, verb.usage) : ''"></textarea>
                                                                <!-- <textarea nbInput fullWidth class="font-weight-light"
                                                            [(ngModel)]="query[i][j][k]"
                                                            placeholder='use {} or [] or "" or number'></textarea> -->
                                                                <button nbButton shape="round" status="primary"
                                                                    size="tiny" class="float-right"
                                                                    (click)="!verb.verb ? callBinder(api.api, verb.uid, query[i][j][k], wsstat?.connected) : callBinder(api.api, verb.verb, query[i][j][k], wsstat?.connected)">Send</button>
                                                            </div>
                                                        </nb-accordion-item-body>
                                                    </nb-accordion-item>
                                                </nb-accordion>
                                            </nb-accordion-item-body>
                                        </nb-accordion-item>
                                    </nb-accordion>
                                </nb-accordion-item-body>
                            </nb-accordion-item>
                        </nb-accordion>
                    </ng-template>
                </div>
            </div>

            <!-- Resizer -->
            <div class="col-auto resizer" (mousedown)="startResizing($event)" style="padding: 0;">
            </div>

            <div class="col colDisplay content">
                <div class="" style="width: 100%;">
                    <nb-accordion [ngClass]="{ 'hidden': !showQueries }" class="queries section"
                        [ngStyle]="{'height.px': section1Height}">
                        <nb-accordion-item expanded="true">
                            <nb-accordion-item-header class="accordion-header-font"
                                style="position: sticky; top: 0; z-index: 999; background-color: white;justify-content: space-between;"
                                (click)="onSection1HeaderClick($event)">
                                <span class="text-left ms-4">QUERIES</span>
                                <div class="header-actions text-right">
                                    <button nbTooltipStatus="info" nbTooltip="delete" nbButton shape="round" ghost
                                        size="small" status="primary"
                                        (click)="$event.stopPropagation();resetQuestions()">
                                        <nb-icon icon="trash"></nb-icon>
                                    </button>
                                    <button nbTooltipStatus="info" nbTooltip="copy" nbButton shape="round" ghost
                                        size="small" status="primary"
                                        (click)="$event.stopPropagation();copyToClipboard(questions)">
                                        <nb-icon icon="copy-outline"></nb-icon>
                                    </button>
                                </div>
                            </nb-accordion-item-header>
                            <nb-accordion-item-body style="overflow-y: auto; margin: 0 0 0 4px !important;">
                                <nb-card *ngIf="(questions$ | async) as questions; else empty">
                                    <nb-card-body class="bg-white">
                                        <pre *ngFor="let question of questions" [innerHTML]="question"></pre>
                                    </nb-card-body>
                                </nb-card>
                                <ng-template #empty>
                                    <nb-card>
                                        <nb-card-body class="bg-white"></nb-card-body>
                                    </nb-card>
                                </ng-template>
                            </nb-accordion-item-body>
                        </nb-accordion-item>
                    </nb-accordion>

                    <!-- Resizer between Section 1 and 2 -->
                    <div class="vertical-resizer" (mousedown)="startVerticalResizing($event, 1)"></div>

                    <nb-accordion class="responses section" [ngStyle]="{'height.px': section2Height}">
                        <nb-accordion-item expanded="true">
                            <nb-accordion-item-header class="accordion-header-font"
                                style="position: sticky; top: 0; z-index: 999; background-color: white;justify-content: space-between;"
                                (click)="onSection2HeaderClick($event)">
                                <span class="text-left ms-4">RESPONSES</span>
                                <div class="header-actions text-right">
                                    <!-- Button that triggers the popover -->
                                    <span nbTooltipStatus="info" nbTooltip="Display Mode" status="primary">
                                        <button nbButton shape="round" ghost size="small" nbButton
                                            [nbPopover]="optionsTemplate" nbPopoverTrigger="click"
                                            nbPopoverPlacement="bottom" (click)="popOverToggle($event)">
                                            <nb-icon icon="layout-outline" style="font-size: 16px;"></nb-icon>
                                        </button>
                                    </span>
                                    <!-- Popover Content Template -->
                                    <ng-template #optionsTemplate>
                                        <div class="popover-content">
                                            <button nbButton size="tiny" button-text-font-weight="500"
                                                *ngFor="let option of optionsSelect"
                                                (click)="chooseDisplayMode(option)">
                                                {{ option }}
                                            </button>
                                        </div>
                                    </ng-template>
                                    <button nbTooltipStatus="info" nbTooltip="delete" nbButton shape="round" ghost
                                        size="small" status="primary"
                                        (click)="$event.stopPropagation();resetResponses()">
                                        <nb-icon icon="trash"></nb-icon>
                                    </button>
                                    <button nbTooltipStatus="info" nbTooltip="copy" nbButton shape="round" ghost
                                        size="small" status="primary"
                                        (click)="$event.stopPropagation();copyToClipboard(responses)">
                                        <nb-icon icon="copy-outline"></nb-icon>
                                    </button>
                                </div>
                            </nb-accordion-item-header>
                            <nb-accordion-item-body style="margin: 0 0 0 4px !important;">
                                <nb-card *ngIf="(responses$ | async) as responses; else emptyrep">
                                    <nb-card-body
                                        [ngClass]="{'display-line': displayMode === 'line', 'display-column': displayMode === 'column'}"
                                        class="bg-white">
                                        <pre *ngFor="let response of responses" [innerHTML]="response"></pre>
                                    </nb-card-body>
                                </nb-card>
                                <ng-template #emptyrep>
                                    <nb-card>
                                        <nb-card-body class="bg-white"></nb-card-body>
                                    </nb-card>
                                </ng-template>
                            </nb-accordion-item-body>
                        </nb-accordion-item>
                    </nb-accordion>

                    <!-- Resizer between Section 2 and 3 -->
                    <div class="vertical-resizer" (mousedown)="startVerticalResizing($event, 2)"></div>

                    <nb-accordion class="events section" [ngStyle]="{'height.px': section3Height}">
                        <nb-accordion-item expanded="true">
                            <nb-accordion-item-header class="accordion-header-font"
                                style="position: sticky; top: 0; z-index: 999; background-color: white;justify-content: space-between;"
                                (click)="onSection3HeaderClick($event)">
                                <span class="text-left ms-4">EVENTS</span>
                                <div class="header-actions text-right">
                                    <button nbTooltipStatus="info" nbTooltip="delete" nbButton shape="round" ghost
                                        size="small" status="primary" (click)="$event.stopPropagation();resetEvents()">
                                        <nb-icon icon="trash"></nb-icon>
                                    </button>
                                    <button nbTooltipStatus="info" nbTooltip="copy" nbButton shape="round" ghost
                                        size="small" status="primary"
                                        (click)="$event.stopPropagation();copyToClipboard(events)">
                                        <nb-icon icon="copy-outline"></nb-icon>
                                    </button>
                                </div>
                            </nb-accordion-item-header>
                            <nb-accordion-item-body style="margin: 0 0 0 4px !important;">
                                <nb-card *ngIf="(event$ | async) as events; else emptyev">
                                    <nb-card-body class="bg-white">
                                        <pre *ngFor="let event of events" [innerHTML]="event" id="event"></pre>
                                    </nb-card-body>
                                </nb-card>
                                <ng-template #emptyev>
                                    <nb-card>
                                        <nb-card-body class="bg-white"></nb-card-body>
                                    </nb-card>
                                </ng-template>
                            </nb-accordion-item-body>
                        </nb-accordion-item>
                    </nb-accordion>
                    <!-- Resizer for Section 3 (at the bottom) -->
                    <div class="vertical-resizer" (mousedown)="startVerticalResizing($event, 3)"></div>
                </div>
            </div>
        </div>
    </div>
</div>