<div class="header-container">
  <div class="logo-container">
    <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a> -->
    <a class="logo" href="#" (click)="navigateHome()"> <span>Binder Devtool</span> </a>
  </div>
  <div class="header-container">
    <button nbButton shape="round" size="small" status="success" *ngIf="(wsStatus$|async).connected ; else disconnected">Binder WS Active</button>
    <ng-template #disconnected><button nbButton shape="round" size="small" status="danger" (click)="Connect()">Binding WS Fail: Connect</button></ng-template>
    <button nbButton ghost shape="round" size="small" (click)="OpenMonitoring()" id="monitoring">Debug/Monitoring</button>
    <a nbButton ghost href="https://docs.redpesk.bzh/" target="_blank" shape="round" size="small">Documentation</a>
  </div>
  
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
  <!-- <ngx-layout-direction-switcher class="direction-switcher"></ngx-layout-direction-switcher> -->

</div>
<div class="rp-image">
  <img src="./assets/images/redpesk-fish-name.png"/>
</div>

<!-- <div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
  </nb-actions>
</div> -->
